* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.title {
	font-size: 24px;
	letter-spacing: 2px;
}
.number {
	font-size: 42px;
}
.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.btn {
	width: 175px;
	margin: 10px;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	letter-spacing: 2px;
	box-shadow: 1px 2px #888888;
	text-align: center;
}
